* {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
}

.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
}

.name {
  width: 300px;
  background: #F02538;
  margin-left: 200px;
  height: 100%;
  text-align: center;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name h1 {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: #FFF;
}

.left {
  height: 100%;
  width: 70%;
  background: #FFF;
}

.right {
  position: fixed;
  right: 0;
  height: 100%;
  width: 30vw;
  background: #1F2749;
}

.right .right-header {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right div h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: #FFF;
  margin: 0
}

.artifacts {
  -webkit-overflow-scrolling: touch;
  height: 85%;
  width: 100%;
  overflow-y: auto;
  padding-top: 20px;
}

.card { 
  transition: all .2s ease-in-out;
  width: 25vw!important;
  height: 18vw!important;
  background: #FFF;
  margin: 20px auto 20px 2.5vw!important;
}
.card:hover { transform: scale(1.05); }

.image {
  width: 100%!important;
  height: 75%!important;
  overflow: hidden;
}

.content {
  width: 100%!important;
  height: 25%!important;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .header {
  font-family: 'Yanone Kaffeesatz', sans-serif!important;
  letter-spacing: 2px;
}

.image img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  
}